<!DOCTYPE html>
<!--
 ! Excerpted from "Web Development with Clojure, Third Edition",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/dswdcloj3 for more book information.
-->
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to guestbook</title>

    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}

    {% style "/css/screen.css" %}
</head>
<body>

{% block content %}
{% endblock %}

<!-- scripts -->
{% block page-scripts %}
{% endblock %}
</body>
</html>
